@import "../global.less";

body {
  padding: 0;
  margin: 0;
}

.logo-wrapper {
  padding: 20px 0;
  background-image: url("../../assets/bg/bgPattern.jpg");
  background-size: 440px;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
  }
}

.layout-page,
.layout-header {
  background: none;
}
.layout-header {
  position: sticky;
  top: 60px;
  width: 100%;
  padding: 0;
  background-color: @cream;
}

.top-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 30px;
  background: @veryDarkChocoColor;

  .top-header-contact a {
    color: @cream;
    font-size: 1em;
    &:hover {
      color: @orange;
    }
  }

  .right-col {
    text-align: right;
    & > a {
      color: @cream;
      margin-right: 30px;
      font-size: 1em;
      &:hover {
        color: @orange;
      }
      .cart-item-number {
        color: @veryDarkChocoColor;
        background-color: @orange;
        border-radius: 50%;
        font-size: 0.6em;
        padding: 5px;
      }
    }
  }

  .ant-select-selector {
    text-align: left;
  }
}

.header-menu {
  border-bottom: none;
  justify-content: center;
  li {
    color: #000;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
  }
  li:hover {
    color: @chocoColor !important;
  }
  .ant-menu-item-selected {
    color: @chocoColor !important;
  }
  .ant-menu-item-selected::after {
    border-bottom-color: @chocoColor !important;
  }
  .ant-menu-item:hover::after {
    border-bottom-color: @chocoColor !important;
  }

  .login-link,
  .register-link {
    display: none;
  }
}

.footer {
  background-color: @veryDarkChocoColor;
  text-align: center;
  font-family: "Montserrat";
  color: @cream;
  .footer-des {
    color: @cream;
    font-size: 1.25em;
    font-family: "Montserrat";
  }
  .logo-footer {
    border-bottom: 1px solid @cream;
    img {
      width: 150px;
    }
  }
  .footer-heading {
    color: @cream;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 1.5em;
  }
  .address {
    .ant-typography {
      color: @cream;
      font-size: 1em;
      font-family: "Montserrat";
      a:hover {
        color: @orange;
      }
      a {
        margin-left: 5px;
        color: @cream;
      }
    }
  }

  .icon-social a {
    font-size: 2em;
    margin: 0 10px;
    color: @cream;
    &:hover {
      color: @orange;
    }
  }

  .warn-heading {
    color: @cream;
    font-family: "Lobster";
    font-size: 1.5em;
  }
  .about-footer {
    color: @cream;
    font-family: "Lobster";
    font-size: 1.5em;
  }

  .bottom-footer {
    border-top: 1px solid @cream;
    color: @cream;
    font-family: "Lobster";
    font-size: 1em;
  }

  .row-footer {
    margin-bottom: 16px;
  }

  .open-time-row .gutter-row .ant-typography {
    color: @cream;
    font-family: "Montserrat";
    font-size: 1em;
  }
}

.button-hamburger-top {
  display: none;
}

@media screen and (max-width: 1024px) {
  .open-time-row {
    .right-col {
      .ant-typography {
        text-align: left;
      }
    }
    .left-col {
      .ant-typography {
        text-align: end;
      }
    }
  }
  .row-footer {
    .open-time-order {
      order: 1;
    }

    .address-order {
      order: 2;
    }

    .about-footer-order {
      order: 3;
    }
  }
}

@media screen and (max-width: 768px) {
  .login-link,
  .register-link {
    display: none;
  }
  .layout-header {
    display: none;
  }

  .button-hamburger-top {
    display: unset;
  }

  .header-menu {
    .login-link,
    .register-link {
      display: block;
    }
  }

  .top-header {
    padding: 0 10px;
    .top-address {
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  .contact-hompage {
    .ant-form-item {
      margin-bottom: 5px;
    }
  }
}

@media screen and (max-width: 375px) {
  .top-header .right-col > a {
    margin-right: 10px;
  }
}

@media screen and (max-width: 320px) {
}
