@import "../global.less";

.homepage-wrapper {
  padding: 50px;
  text-align: center;

  .homepage-title {
    h2 {
      font-family: "Great Vibes";
      letter-spacing: 5px;
      font-size: 3.75em;
      text-transform: capitalize;
    }
  }
}

.holiday-wrapper {
  margin-top: 20px;
  display: inline-flex;
  > .holiday-items-wrapper:not(:last-child) {
    margin-right: 30px;
  }
  .holiday-items-wrapper {
    video {
      height: 500px;
    }
    .ant-typography {
      font-size: 2em;
      font-family: "Great Vibes";
      margin-bottom: 0;
    }
  }
}
.contact-hompage {
  background-image: url("../../assets/bg/dailyBg.jpg");
  background-size: cover;
  .homepage-title {
    h2,
    h4 {
      color: @cream;
    }
  }
  .ant-form-item-label label {
    color: @cream;
  }
}
.special-day {
  background-image: url("../../assets/bg/pastryBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  .ant-typography {
    color: @cream;
    text-shadow: 2px 2px 0 @chocoColor;
  }
}

.contact-hompage {
  form {
    padding: 0 50px;
  }

  .ant-form-item-label label {
    font-size: 1.25em;
  }

  button {
    border-color: @chocoColor;
    width: 200px;
    margin-top: 30px;
    background-color: @chocoColor;
    color: @cream;
    &:hover {
      background-color: @cream;
      color: @veryDarkChocoColor !important;
      border-color: @veryDarkChocoColor !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .slide {
    padding: 0;
    video {
      height: unset;
    }
  }
}

@media screen and (max-width: 768px) {
  .special-day {
    text-align: center;
    .holiday-wrapper {
      .holiday-items-wrapper {
        video {
          height: 350px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .homepage-wrapper {
    padding: 10px;
  }

  .holiday-wrapper {
    display: block;
  }

  .special-day {
    text-align: center;
    .holiday-wrapper {
      text-align: center;
      .holiday-items-wrapper {
        margin-bottom: 20px;
        video {
          height: 500px;
          width: 100%;
        }
      }
      > .holiday-items-wrapper {
        margin-right: 0;
      }
    }
  }

  .contact-hompage {
    form {
      padding: 0;
    }
    button {
      margin-top: 11px;
    }
  }
}
